body {
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    align-items: center;
}

.leaderboard-card {
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.game-card {
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: none;
}

.status-box {
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.low,
.high {
    background-color: #dc3545;
}

.correct {
    background-color: #198754;
}

.lose {
    background-color: #212529;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
}